In [2]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [67]:
def split_dataset_by_brand(dataset):
    brands = set(dataset["Brand"])
    return { brand: dataset[dataset["Brand"] == brand][["img", "Brand"]] for brand in brands }

In [43]:
dataset = pd.read_csv('./clf_data.csv')
dataset
lb = LabelEncoder()
dataset['Brand'] = lb.fit_transform(dataset['Brand'])
dataset.Brand.value_counts()

9     308
7     307
8     307
4     304
11    303
1     303
6     303
2     303
0     303
10    301
5     300
3     300
Name: Brand, dtype: int64

In [ ]:
lb = labelEncoder()

In [111]:
ds_by_brand = split_dataset_by_brand(dataset)

In [117]:
# ds_by_brand[0].index -= min(ds_by_brand[0].index)
ds_by_brand[0].reset_index(drop=True).sample(frac=1)

                                  img  Brand
227   1442-audemarspiguet-37500.0.png      0
88    1303-audemarspiguet-14700.0.png      0
290   1505-audemarspiguet-42000.0.png      0
81    1296-audemarspiguet-29500.0.png      0
181   1396-audemarspiguet-29745.0.png      0
..                                ...    ...
300   1515-audemarspiguet-21500.0.png      0
196   1411-audemarspiguet-70099.0.png      0
230   1445-audemarspiguet-32700.0.png      0
273  1488-audemarspiguet-105500.0.png      0
71   1286-audemarspiguet-190000.0.png      0

[303 rows x 2 columns]

In [105]:
from sklearn.model_selection import train_test_split
import numpy as np

def reset_index(df):
    return df.reset_index(drop=True)
def train_validate_test_split(df, train_percent=.8, validate_percent=.1, seed=None):
    np.random.seed(seed)
    df = reset_index(df)
    perm = np.random.permutation(df.index)
    m = len(df.index)
    train_end = int(train_percent * m)
    validate_end = int(validate_percent * m) + train_end
    print(train_end, validate_end, m)
    train = df.iloc[perm[:train_end]]
    validate = df.iloc[perm[train_end:validate_end]]
    test = df.iloc[perm[validate_end:]]
    return train, validate, test


def split_dataset(ds_by_brand, train=0.8,val=0.1,test=0.1):
    train = pd.DataFrame()
    val = pd.DataFrame()
    test = pd.DataFrame()
    
    for brand in ds_by_brand:
        tr,v,ts = train_validate_test_split(ds_by_brand[brand])        
        train = train.append(tr)
        val = val.append(v)
        test = test.append(ts)
    train = reset_index(train)
    val = reset_index(val)
    test = reset_index(test)
    return train,val,test

In [106]:
train,val,test = split_dataset(split_dataset_by_brand(dataset))

242 272 303
242 272 303
242 272 303
240 270 300
243 273 304
240 270 300
242 272 303
245 275 307
245 275 307
246 276 308
240 270 301
242 272 303

In [110]:
min(test.index)

0

In [81]:
tmp = pd.DataFrame()

In [82]:
tmp.append(dataset)

      Unnamed: 0                     img  Brand
0              0       0-iwc-13109.0.png      4
1              1        1-iwc-4899.0.png      4
2              2       2-iwc-10139.0.png      4
3              3        3-iwc-3239.0.png      4
4              4        4-iwc-8499.0.png      4
...          ...                     ...    ...
3637        3637  3637-zenith-2750.0.png     11
3638        3638  3638-zenith-4895.0.png     11
3639        3639  3639-zenith-5950.0.png     11
3640        3640  3640-zenith-6409.0.png     11
3641        3641  3641-zenith-4999.0.png     11

[3642 rows x 3 columns]

In [83]:
tmp

Empty DataFrame
Columns: []
Index: []